
// ===========================================
// =========== V A R I A B L E S =============
// ===========================================

:root {
//--------------------------------
//----------- FONTS --------------
//--------------------------------
--font-open-sans: "Open Sans", sans-serif;
--font-josefin-sans: "Josefin Sans", sans-serif;

--font-primary: var(--font-open-sans);
--font-secondary: var(--font-josefin-sans);

//--------------------------------
//----------- ​COLORS -------------
//--------------------------------
--color-blue: #7c83ff;
--color-orange: #f097a5;
--color-invision: #f42156;
--color-iphone: #007aff;

--color-white: #fff;
--color-black: #000;

--color-light-1: #fcfcfc;
--color-light-2: #fafafa;
--color-light-3: #f9f9f9;
--color-light-4: #f7f7f7;
--color-light-5: #f5f5f5;
--color-light-6: #f3f3f3;
--color-light-7: #f1f1f1;
--color-light-8: #eee;
--color-light-9: #ddd;

--color-dark-1: #111;
--color-dark-2: #222;
--color-dark-3: #333;
--color-dark-4: #666;
--color-dark-5: #777;
--color-dark-6: #999;

--color-primary: var(--color-invision);
--color-secondary: var(--color-orange);

// Background Colors
--bg-body: var(--color-white);

--bg-primary: var(--color-white);
--bg-secondary: var(--color-light-3);
--bg-tertiary: var(--color-light-5);

--bg-bar: var(--color-light-4);

// Text Colors (for Light Version)
--color-text-black: var(--color-black);
--color-text-dark-1: #333;
--color-text-dark-2: #666;

// Text Colors (for Dark Version)
--color-text-white: var(--color-white);

// Applying Light or Dark version
--color-text-primary: var(--color-text-black);
--color-text-secondary: var(--color-text-dark-2);
--color-text-tertiary: var(--color-text-dark-1);

//--------------------------------
//--------- BOX SHADOWS ----------
//--------------------------------
--shadow-light-1: 0px 4px 17px rgba(0, 0, 0, 0.05);
--shadow-light-2: 50px 50px 5px 0 rgba(0, 0, 0, 0.2);

--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
--shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.06);
--shadow-light-small: 0 0.5rem 2rem rgba(0, 0, 0, 0.06);

--shadow-light-2: 0 2rem 7rem rgba(0, 0, 0, 0.06);

--shadow-light-hover: 0 1rem 6rem rgba(0, 0, 0, 0.1);

//--------------------------------
//-------- MISCELLANEOUS ---------
//--------------------------------
--size-avatar: 4rem;
--size-main-navbar: 4.1rem;
}

// MEDIA QUERY (SASS Variables)
$tablet-min: 426px;
$laptop-min: 769px;
$desktop-min: 1025px;
$big-min: 1441px;

// end: V A R I A B L E S

// ===========================================
// ===============  B A S E ==================
// ===========================================

html {
// BASE FONT SIZES
//  font-size-[] are calculated in percentage of browser's base font
--font-size-mobile: 62.5%; //calc(10 / 16 * 100%); 10px
--font-size-tablet: 68.75%; //calc(11 / 16 * 100%); 11px
--font-size-laptop: 75%; // calc(12 / 16 * 100%); 12px
--font-size-desktop: 81.25%; // calc(13 / 16 * 100%); 13px
--font-size-big: 87.5%; // calc(14 / 16 * 100%); 14px

// Setting base-font size
--base-font: var(--font-size-mobile);
@media screen and (min-width: $tablet-min) {
--base-font: var(--font-size-tablet);
}
@media screen and (min-width: $laptop-min) {
--base-font: var(--font-size-laptop);
}
@media screen and (min-width: $desktop-min) {
--base-font: var(--font-size-desktop);
}
@media screen and (min-width: $big-min) {
--base-font: var(--font-size-big);
}

font-size: var(--base-font);

box-sizing: border-box;
}

body {
font-family: var(--font-primary);
font-size: 1.2rem;

background-color: var(--bg-body);
position: relative;
overflow-x: hidden;
}

*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

// font-size(s) in em are set on scale of "Major Third(1.25)"
// These font sizes are based on 1.2rem(body font-size); so default font-size of a component is 1.2rem;
// Hierarchy is maintained excluding <h5>; <h5> font-size is exactly between <h4> an <p>
h1 {
font-size: 2.441em; // 29.3px
}
h2 {
font-size: 1.953em; // 23.4375px
}
h3 {
font-size: 1.5625em; // 18.75px
}
h4 {
font-size: 1.25em; // 15px
}
h5 {
font-size: 1.125em; // 13.5px
}
p {
font-size: 1em; // 12px
}
h6 {
font-size: 0.8em; // 9.6px
}
small {
font-size: 0.64em; // 7.68px
}

// end: B A S E

// ===========================================
// ===============  I C O N ==================
// ===========================================

.Icon {
// Variables: SIZE
--size-mini: 0.8rem;
--size-small: 1.2rem;
--size-medium: 1.5rem;
--size-big: 2rem;
--size-large: 3rem;
--size-massive: 4rem;

transition: all 0.3s ease-in-out;

// Icon Size Classes
&--mini {
width: var(--size-mini);
height: var(--size-mini);
}
&--small {
width: var(--size-small);
height: var(--size-small);
}
&--medium {
width: var(--size-medium);
height: var(--size-medium);
}
&--big {
width: var(--size-big);
height: var(--size-big);
}
&--large {
width: var(--size-large);
height: var(--size-large);
}
&--massive {
width: var(--size-massive);
height: var(--size-massive);
}

// Icon Filled color
&--colored {
fill: var(--color-iphone);
}
&--white {
fill: var(--color-white);
}
&--light {
fill: var(--color-text-secondary);
&:hover {
fill: var(--color-text-tertiary);
}
}
}

// end: I C O N

// ===========================================
// ================= BUTTON ==================
// ===========================================
.Btn--primary {
text-decoration: none;
border: 1px solid var(--color-black);
background-color: var(--color-black);
color: var(--color-white);
padding: 0.75rem 2rem;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
letter-spacing: 4px;
text-align: center;
line-height: 1.5;
outline: none;
cursor: pointer;
transition: all 0.3s ease-in-out;
&:hover {
background-color: transparent;
color: var(--color-black);
}
}

// Button Sizes
.Btn--small {
max-width: 10rem;
}
.Btn--medium {
max-width: 15rem;
}
.Btn--big {
max-width: 25rem;
}

//--------------------------------
//----------- Btn-Icon -------------
//--------------------------------

.Btn-Icon {
/* Variables: Size */
--size-mini: 0.8rem;
--size-small: 1.2rem;
--size-medium: 1.5rem;
--size-big: 2rem;
--size-large: 3rem;
--size-massive: 4rem;

background-color: transparent;
border: none;
position: relative;
display: flex;
justify-content: center;
cursor: pointer;
outline: none;
&__value {
font-family: var(--font-secondary);
font-size: 0.9rem;
font-weight: 300;
position: absolute;
top: 0;
left: 0;
transform: translate(-100%, -50%);
}
&--with-value {
margin-left: 1rem;
}

// Btn-Icon--round
&--round {
border: 1px solid #eee;
border-radius: 50%;
background-color: #fff;
transition: all 0.3s;
&:hover {
border: 1px solid #000;
}
}

// Close Button
&--close {
position: absolute;
top: 0;
right: 0;
transform: translate(50%, -50%);
}

// BtN-Icon Sizes
&--mini {
width: var(--size-mini);
height: var(--size-mini);
}
&--small {
width: var(--size-small);
height: var(--size-small);
}
&--medium {
width: var(--size-medium);
height: var(--size-medium);
}
&--big {
width: var(--size-big);
height: var(--size-big);
}
&--large {
width: var(--size-large);
height: var(--size-large);
}
&--massive {
width: var(--size-massive);
height: var(--size-massive);
}
}

// Social Link Box and hover effect
.SocialBox {
display: inline-flex;
position: relative;
overflow: hidden;
padding: 0.5rem;
border-radius: 4px;
&__before {
fill: var(--color-black);
}
&__after {
fill: var(--color-dark-6);
}

&:hover {
background-color: var(--color-black);
& > .SocialBox__before {
transform: translateY(200%);
}
& > .SocialBox__after {
transform: translateY(-50%);
top: 50%;
}
}

&__before {
transition: all 0.3s;
}
&__after {
position: absolute;
top: 0;
transform: translateY(-110%);
transition: all 0.3s;
}
}

.Icon-link {
text-decoration: none;
}

// end: B U T T O N



// ===========================================
// =============== MAIN NAVBAR ===============
// ===========================================

// MainNavbar's .Logo z-index: 104; because, navigation has heighest z-index 103
// MAIN NAVBAR
.MainNavbar {
--component-font-size: 1.2rem;
font-size: var(--component-font-size);
border-bottom: 1px solid #eee;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
z-index: 3;
// box-shadow: var(--shadow-2);

& .Logo {
width: 30%;
display: flex;
align-items: center;
z-index: 104;
& h2 {
color: #000;
text-transform: uppercase;
font-weight: 700;
font-size: 1.2rem;
letter-spacing: 2px;
}
}
& .Menu {
width: 40%;
display: none;
justify-content: center;
list-style-type: none;
@media screen and (min-width: $laptop-min) {
display: flex;
width: 30%;
}
&__item {
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.8em;
&:not(:last-child) {
margin-right: 2rem;
}
}
&__link {
text-decoration: none;
color: var(--color-black);
padding: 0.5rem 0;
transition: all 0.3s;
border-bottom: 2px solid transparent;
&:hover {
border-bottom: 2px solid var(--color-black);
// color: var(--color-primary);
}
}
}
& .UserNav {
width: 50%;
display: flex;
justify-content: flex-end;
@media screen and (min-width: $laptop-min) {
width: 30%;
}
& > *:not(:first-child) {
margin-left: 1.5rem;
}
}
}


// ===========================================
// =============== BREADCRUMB ===============
// ===========================================
.Breadcrumb {
--component-font-size: 1rem;
font-size: var(--component-font-size);
list-style-type: none;
padding: 0.75rem 2rem;
margin: 0;
background-color: var(--bg-bar);
}
.Breadcrumb__Item {
display: inline-block;
text-transform: capitalize;  
color: #666;  
}
.Breadcrumb__ItemLink {
text-decoration: none;
color: var(--color-black);
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}
.Breadcrumb__Item:not(:last-child)::after {
content: "/";
margin: 0 0.4rem;
color: #ccc;
}

.Back-n-breadcrumb {
background-color: var(--bg-bar);
display: flex;
align-items: center;
padding: 0.5rem 1.5rem; 
}



// ===========================================
// =============== NAVIGATION ================
// ===========================================

// z-index starts from 101.
// Navigation__background: 101
// Navigation__nav: 102
// Navigation__button: 103

// PROBLEM: if screen height < 450px, .Navigation__nav height is needed to be minimum 450px;

.Navigation {
--component-font-size: 1.2rem;
font-size: var(--component-font-size);
width: 20px;
height: 20px;
display: flex;
align-items: center;
justify-content: center;
// position: relative;
&__checkbox {
display: none;
}
&__button {
width: inherit;
height: inherit;
display: flex;
align-items: center;
position: absolute;
z-index: 103;
cursor: pointer;
}
&__background {
height: 3rem;
width: 3rem;
border-radius: 50%;
position: fixed;
background: var(--color-light-3);
z-index: 101;
opacity: 0;  
transition: transform 0.5s cubic-bezier(0, 1, 0, 1) 0.5s, opacity 0.1s 1s;
// will-change: transform;
}
&__nav {
height: 100%;
width: 100%;
z-index: 102;
@media screen and (max-height: 450px) {
height: 600px;
// overflow-y: auto;
}
position: fixed;
top: 0;
left: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
transform: translateX(100%);
transition: transform 0s 1s;
}
&__menu {
display: flex;
flex-flow: column wrap;
justify-content: center;
list-style: none;
align-items: center;
// z-index: 102;


width: inherit;
opacity: 0;
transform: translateX(-300%);
transition: all 0.5s cubic-bezier(1, 0, 1, 0);
&::after {
content: "";
width: 3rem;
border-bottom: 2px solid var(--color-black);
margin-top: 2rem;
opacity: 0;
transition: opacity 0.2s cubic-bezier(0, 1, 0, 1);
}
}
&__item {
margin: 1rem 0;
}
&__link {
text-decoration: none;
font-size: 1.8em;
color: var(--color-black);
color: #333;
text-transform: uppercase;
padding: 0.5rem 2rem;
letter-spacing: 2px;
transition: all 0.5s ease-in-out;

// Visited can be given when real links are applied
// &:visited {
//   color: indigo;
// }

&:hover,
&:active {
background-color: #666;
color: var(--color-white);
transform: translateX(1rem);
}
}
&__terms {
list-style-type: none;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 3rem;
width: inherit;
opacity: 0;
// z-index: 102;    
transform: translateX(1000%);
transition: all 0.5s cubic-bezier(1, 0, 1, 0);
&__item {
text-transform: uppercase;
letter-spacing: 5px;
font-size: 0.7em;
&:not(:first-child) {
margin-top: 1rem;
}
}
&__link {
text-decoration: none;
color: #666;
transition: all 0.3s;
&:hover {
color: #333;
}
}
}
&__socials,
&__internationalization {
position: absolute;
opacity: 0;
transform: translateY(4000%);
transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
&__socials {
left: 2rem;
bottom: 2rem;
& > *:not(:first-child) {
margin-left: 1rem;
}
}
&__internationalization {
right: 2rem;
bottom: 2rem;
display: flex;
& > *:not(:first-child) {
margin-left: 3rem;
}
}
&__lang,
&__currency {
&__input {
display: none;
&:checked + .Navigation__lang__label,
&:checked + .Navigation__currency__label {
color: #333;
border-bottom: 1px solid var(--color-black);
}
}
&__label {
color: #666;
transition: all 0.3s;
font-size: 0.9em;
&:not(:first-of-type) {
margin-left: 1rem;
}
&:hover {
color: #333;
}
}
}

// FUNCTIONALITY
&__checkbox:checked ~ &__button {
position: fixed;
}
&__checkbox:checked ~ &__nav {
transform: translateX(0);
transition: transform 0s 0s;    
}
&__checkbox:checked ~ &__background {
opacity: 1;
transform: scale(120);   
transition: opacity 0.1s, transform 0.5s cubic-bezier(1, 0, 1, 0) 0.2s;
}
&__checkbox:checked ~ &__nav > &__menu,
&__checkbox:checked ~ &__nav > &__terms {
opacity: 1;
transform: translateX(0);
transition: all 0.5s cubic-bezier(0, 1, 0, 1) 0.7s;
}
&__checkbox:checked ~ &__nav > &__menu::after {
opacity: 1;
transition: opacity 0.3s cubic-bezier(1, 0, 1, 0) 1s;
}

&__checkbox:checked ~ &__nav > &__socials,
&__checkbox:checked ~ &__nav > &__internationalization {
opacity: 1;
transform: translateY(0);
transition: all 0.5s cubic-bezier(0, 1, 0, 1) 0.5s;
}

// ICON
&__icon {
position: relative;
transition: all 0.1s;

&,
&:before,
&:after {
width: inherit;
height: 2px;
background-color: var(--color-black);
display: inline-block;
}
&:before,
&:after {
content: "";
position: absolute;
left: 0;
transition: all 0.1s;
}

&:before {
top: -7px;
}
&:after {
top: 7px;
}
}

&__button:hover &__icon:before {
top: -8px;
}
&__button:hover &__icon:after {
top: 8px;
}

&__checkbox:checked + &__button &__icon {
background-color: transparent;
}
&__checkbox:checked + &__button &__icon:before {
top: 0;
transform: rotate(45deg);
}
&__checkbox:checked + &__button &__icon:after {
top: 0;
transform: rotate(-45deg);
}
}



// ===========================================
// =============== CART DRAWER ===============
// ===========================================
.CartDrawer {
--component-font-size: 1.2rem;
font-size: var(--component-font-size);
background-color: var(--color-light-1);
width: 30rem;
height: calc(100% - 4.1rem);
position: fixed;
right: 0;
top: 4.1rem;
transform: translateX(100%);
transition: transform 0.3s ease-in-out;
overflow-y: auto;
display: flex;
flex-direction: column;
align-items: center;
// padding: 2rem;
&__header {
display: flex;
// margin-top: 1rem;
align-items: center;
justify-content: space-between;
width: 100%;
padding: 2rem 1rem;
background-color: var(--color-light-5);
// @media screen and (min-width: $laptop-min) {
//   padding: 2rem 1rem;
// }
}
&__title {
text-transform: uppercase;
font-weight: 400;
letter-spacing: 4px;
}
&__remove {
border-radius: 50%;
&:hover {
background-color: var(--color-light-8);
}
}
& .CartSet {
padding: 2rem;
width: 100%;
background: transparent;
&__footer {
margin-top: 4rem;
}
&__price {
text-transform: uppercase;
display: flex;
align-items: center;
letter-spacing: 4px;
font-size: 1.2em;
font-weight: 400;
&__value {
margin-left: auto;
font-weight: 500;
letter-spacing: 2px;
&::first-letter {
  font-size: 1.2em;
  margin-right: 5px;
}
}
}
&__buttons {
font-size: 0.7em;
margin-top: 5rem;
display: flex;
& > * {
width: 50%;
}
& > *:not(:first-child) {
margin-left: 1rem;
}
}
}
& .CartCard-wrapper {
& > *:not(:first-child) {
margin-top: 2rem;
}
}
}

// Inject this class in ".CartSet-wrapper" to open or vice-versa
.CartDrawer--active {
transform: translateX(0);
}




// ===========================================
// ============= CHECKOUT PAGE ===============
// ===========================================

.CheckoutForm {
--component-font-size: 1.2rem;
font-size: var(--component-font-size);
display: flex;
flex-direction: column;
margin: 2rem auto;
max-width: $laptop-min;
// align-items: center;
// width: 100%;
padding: 1rem;
&__title {
text-transform: uppercase;
letter-spacing: 4px;
font-weight: 500;
text-align: center;
margin: 1rem 0 2rem;
}
&__billing-address {
& > *:not(:first-child) {
margin: 1rem auto;
}
@media screen and (min-width: $tablet-min) {
// display: flex;
}
}
&__name {
& > *:not(:first-child) {
margin: 1rem auto;
}
@media screen and (min-width: $tablet-min) {
display: flex;
& > *:not(:first-child) {
margin: 0 0 0 1rem;
}
}
}
&__note {
margin-top: 4rem;
& .CheckoutForm__input {
height: 8rem;
resize: vertical;
line-height: 1.5;
}
}

&__submit {
margin-top: 2rem;
}

&__input,
&__select {
font-size: 0.8em;
height: 4rem;
width: 100%;
padding: 1rem;
box-sizing: border-box;
outline: none;
color: var(--color-text-secondary);
border: 1px solid var(--color-light-9);
letter-spacing: 2px;
transition: all 0.3s ease-in-out;
text-transform: uppercase;
&::placeholder {
text-transform: uppercase;
letter-spacing: 2px;
}
&:focus {
border: 1px solid var(--color-text-primary);
color: var(--color-text-primary);
text-transform: initial;
letter-spacing: 1px;
}
}
&__select {
background-color: var(--color-white);
}
}


// ===========================================
// ================= FOOTER ==================
// ===========================================
.Footer {
// position: fixed;
// bottom: 0;
// z-index: -1;
// width: 100%;
--component-font-size: 12px;
font-size: var(--component-font-size);
background-color: var(--color-light-4);
display: flex;
flex-wrap: wrap;
align-items: center;
padding-top: 2rem;
@media screen and (min-width: $laptop-min) {
align-items: initial;
justify-content: center;
}

&__header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 50%;
padding: 2rem;
@media screen and (min-width: $laptop-min) {
width: 100%;
order: 1;
}
&__logo {
margin-bottom: 1rem;
}
&__title {
text-transform: uppercase;
font-weight: 600;
letter-spacing: 4px;
}
}
&__socials {
display: flex;
flex-direction: column;
width: 50%;
align-items: center;
padding: 2rem;
@media screen and (min-width: $laptop-min) {
width: 25%;
max-width: 20rem;
order: 3;
margin-top: 1rem;
}
&__title {
margin-bottom: 1rem;
letter-spacing: 1px;
font-weight: 600;
font-size: 0.95em;
text-transform: capitalize;
}
}
&__quicklinks {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 2rem;
@media screen and (min-width: $laptop-min) {
width: 75%;
max-width: 50rem;
order: 2;
}
& > .Link-group {
margin: 1rem 0;
}
}

&__copyright {
padding: 1rem 0;
background-color: var(--color-light-8);
color: var(--color-text-secondary);
width: 100%;
text-align: center;
font-size: 0.7em;
letter-spacing: 0.25px;
@media screen and (min-width: $laptop-min) {
order: 4;
}
}
}

// Classes used for QuickLinks item
.Link-group {
min-width: 9rem;
&__title {
color: var(--color-text-primary);
font-weight: 600;
font-size: 0.8em;
letter-spacing: 1px;

margin-bottom: 1rem;
text-transform: uppercase;
}
&__list {
list-style-type: none;
}
&__item {
margin-bottom: 0.5rem;
text-transform: capitalize;
}
&__link {
text-decoration: none;
color: var(--color-text-secondary);
transition: color 0.3s;
&:hover {
color: var(--color-text-tertiary);
}
}
}
