:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-josefin-sans: "Josefin Sans", sans-serif;
  --font-primary: var(--font-open-sans);
  --font-secondary: var(--font-josefin-sans);
  --color-blue: #7c83ff;
  --color-orange: #f097a5;
  --color-invision: #f42156;
  --color-iphone: #007aff;
  --color-white: #fff;
  --color-black: #000;
  --color-light-1: #fcfcfc;
  --color-light-2: #fafafa;
  --color-light-3: #f9f9f9;
  --color-light-4: #f7f7f7;
  --color-light-5: #f5f5f5;
  --color-light-6: #f3f3f3;
  --color-light-7: #f1f1f1;
  --color-light-8: #eee;
  --color-light-9: #ddd;
  --color-dark-1: #111;
  --color-dark-2: #222;
  --color-dark-3: #333;
  --color-dark-4: #666;
  --color-dark-5: #777;
  --color-dark-6: #999;
  --color-primary: var(--color-invision);
  --color-secondary: var(--color-orange);
  --bg-body: var(--color-white);
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-light-3);
  --bg-tertiary: var(--color-light-5);
  --bg-bar: var(--color-light-4);
  --color-text-black: var(--color-black);
  --color-text-dark-1: #333;
  --color-text-dark-2: #666;
  --color-text-white: var(--color-white);
  --color-text-primary: var(--color-text-black);
  --color-text-secondary: var(--color-text-dark-2);
  --color-text-tertiary: var(--color-text-dark-1);
  --shadow-light-1: 0px 4px 17px rgba(0, 0, 0, 0.05);
  --shadow-light-2: 50px 50px 5px 0 rgba(0, 0, 0, 0.2);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 1rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-light-small: 0 0.5rem 2rem rgba(0, 0, 0, 0.06);
  --shadow-light-2: 0 2rem 7rem rgba(0, 0, 0, 0.06);
  --shadow-light-hover: 0 1rem 6rem rgba(0, 0, 0, 0.1);
  --size-avatar: 4rem;
  --size-main-navbar: 4.1rem;
}

html {
  --font-size-mobile: 62.5%;
  --font-size-tablet: 68.75%;
  --font-size-laptop: 75%;
  --font-size-desktop: 81.25%;
  --font-size-big: 87.5%;
  --base-font: var(--font-size-mobile);
  font-size: var(--base-font);
  box-sizing: border-box;
}
@media screen and (min-width: 426px) {
  html {
    --base-font: var(--font-size-tablet);
  }
}
@media screen and (min-width: 769px) {
  html {
    --base-font: var(--font-size-laptop);
  }
}
@media screen and (min-width: 1025px) {
  html {
    --base-font: var(--font-size-desktop);
  }
}
@media screen and (min-width: 1441px) {
  html {
    --base-font: var(--font-size-big);
  }
}

body {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  background-color: var(--bg-body);
  position: relative;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.5625em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

small {
  font-size: 0.64em;
}

.Icon {
  --size-mini: 0.8rem;
  --size-small: 1.2rem;
  --size-medium: 1.5rem;
  --size-big: 2rem;
  --size-large: 3rem;
  --size-massive: 4rem;
  transition: all 0.3s ease-in-out;
}
.Icon--mini {
  width: var(--size-mini);
  height: var(--size-mini);
}
.Icon--small {
  width: var(--size-small);
  height: var(--size-small);
}
.Icon--medium {
  width: var(--size-medium);
  height: var(--size-medium);
}
.Icon--big {
  width: var(--size-big);
  height: var(--size-big);
}
.Icon--large {
  width: var(--size-large);
  height: var(--size-large);
}
.Icon--massive {
  width: var(--size-massive);
  height: var(--size-massive);
}
.Icon--colored {
  fill: var(--color-iphone);
}
.Icon--white {
  fill: var(--color-white);
}
.Icon--light {
  fill: var(--color-text-secondary);
}
.Icon--light:hover {
  fill: var(--color-text-tertiary);
}

.Btn--primary {
  text-decoration: none;
  border: 1px solid var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Btn--primary:hover {
  background-color: transparent;
  color: var(--color-black);
}

.Btn--small {
  max-width: 10rem;
}

.Btn--medium {
  max-width: 15rem;
}

.Btn--big {
  max-width: 25rem;
}

.Btn-Icon {
  /* Variables: Size */
  --size-mini: 0.8rem;
  --size-small: 1.2rem;
  --size-medium: 1.5rem;
  --size-big: 2rem;
  --size-large: 3rem;
  --size-massive: 4rem;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
}
.Btn-Icon__value {
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -50%);
}
.Btn-Icon--with-value {
  margin-left: 1rem;
}
.Btn-Icon--round {
  border: 1px solid #eee;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
}
.Btn-Icon--round:hover {
  border: 1px solid #000;
}
.Btn-Icon--close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.Btn-Icon--mini {
  width: var(--size-mini);
  height: var(--size-mini);
}
.Btn-Icon--small {
  width: var(--size-small);
  height: var(--size-small);
}
.Btn-Icon--medium {
  width: var(--size-medium);
  height: var(--size-medium);
}
.Btn-Icon--big {
  width: var(--size-big);
  height: var(--size-big);
}
.Btn-Icon--large {
  width: var(--size-large);
  height: var(--size-large);
}
.Btn-Icon--massive {
  width: var(--size-massive);
  height: var(--size-massive);
}

.SocialBox {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 4px;
}
.SocialBox__before {
  fill: var(--color-black);
}
.SocialBox__after {
  fill: var(--color-dark-6);
}
.SocialBox:hover {
  background-color: var(--color-black);
}
.SocialBox:hover > .SocialBox__before {
  transform: translateY(200%);
}
.SocialBox:hover > .SocialBox__after {
  transform: translateY(-50%);
  top: 50%;
}
.SocialBox__before {
  transition: all 0.3s;
}
.SocialBox__after {
  position: absolute;
  top: 0;
  transform: translateY(-110%);
  transition: all 0.3s;
}

.Icon-link {
  text-decoration: none;
}

.MainNavbar {
  --component-font-size: 1.2rem;
  font-size: var(--component-font-size);
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 3;
}
.MainNavbar .Logo {
  width: 30%;
  display: flex;
  align-items: center;
  z-index: 104;
}
.MainNavbar .Logo h2 {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.MainNavbar .Menu {
  width: 40%;
  display: none;
  justify-content: center;
  list-style-type: none;
}
@media screen and (min-width: 769px) {
  .MainNavbar .Menu {
    display: flex;
    width: 30%;
  }
}
.MainNavbar .Menu__item {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
}
.MainNavbar .Menu__item:not(:last-child) {
  margin-right: 2rem;
}
.MainNavbar .Menu__link {
  text-decoration: none;
  color: var(--color-black);
  padding: 0.5rem 0;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}
.MainNavbar .Menu__link:hover {
  border-bottom: 2px solid var(--color-black);
}
.MainNavbar .UserNav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 769px) {
  .MainNavbar .UserNav {
    width: 30%;
  }
}
.MainNavbar .UserNav > *:not(:first-child) {
  margin-left: 1.5rem;
}

.Breadcrumb {
  --component-font-size: 1rem;
  font-size: var(--component-font-size);
  list-style-type: none;
  padding: 0.75rem 2rem;
  margin: 0;
  background-color: var(--bg-bar);
}

.Breadcrumb__Item {
  display: inline-block;
  text-transform: capitalize;
  color: #666;
}

.Breadcrumb__ItemLink {
  text-decoration: none;
  color: var(--color-black);
  transition: all 0.2s;
}

.Breadcrumb__Item:not(:last-child)::after {
  content: "/";
  margin: 0 0.4rem;
  color: #ccc;
}

.Back-n-breadcrumb {
  background-color: var(--bg-bar);
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.Navigation {
  --component-font-size: 1.2rem;
  font-size: var(--component-font-size);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navigation__checkbox {
  display: none;
}
.Navigation__button {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 103;
  cursor: pointer;
}
.Navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  background: var(--color-light-3);
  z-index: 101;
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0, 1, 0, 1) 0.5s, opacity 0.1s 1s;
}
.Navigation__nav {
  height: 100%;
  width: 100%;
  z-index: 102;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0s 1s;
}
@media screen and (max-height: 450px) {
  .Navigation__nav {
    height: 600px;
  }
}
.Navigation__menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  list-style: none;
  align-items: center;
  width: inherit;
  opacity: 0;
  transform: translateX(-300%);
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.Navigation__menu::after {
  content: "";
  width: 3rem;
  border-bottom: 2px solid var(--color-black);
  margin-top: 2rem;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0, 1, 0, 1);
}
.Navigation__item {
  margin: 1rem 0;
}
.Navigation__link {
  text-decoration: none;
  font-size: 1.8em;
  color: var(--color-black);
  color: #333;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}
.Navigation__link:hover, .Navigation__link:active {
  background-color: #666;
  color: var(--color-white);
  transform: translateX(1rem);
}
.Navigation__terms {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: inherit;
  opacity: 0;
  transform: translateX(1000%);
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.Navigation__terms__item {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.7em;
}
.Navigation__terms__item:not(:first-child) {
  margin-top: 1rem;
}
.Navigation__terms__link {
  text-decoration: none;
  color: #666;
  transition: all 0.3s;
}
.Navigation__terms__link:hover {
  color: #333;
}
.Navigation__socials, .Navigation__internationalization {
  position: absolute;
  opacity: 0;
  transform: translateY(4000%);
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.Navigation__socials {
  left: 2rem;
  bottom: 2rem;
}
.Navigation__socials > *:not(:first-child) {
  margin-left: 1rem;
}
.Navigation__internationalization {
  right: 2rem;
  bottom: 2rem;
  display: flex;
}
.Navigation__internationalization > *:not(:first-child) {
  margin-left: 3rem;
}
.Navigation__lang__input, .Navigation__currency__input {
  display: none;
}
.Navigation__lang__input:checked + .Navigation__lang__label, .Navigation__lang__input:checked + .Navigation__currency__label, .Navigation__currency__input:checked + .Navigation__lang__label, .Navigation__currency__input:checked + .Navigation__currency__label {
  color: #333;
  border-bottom: 1px solid var(--color-black);
}
.Navigation__lang__label, .Navigation__currency__label {
  color: #666;
  transition: all 0.3s;
  font-size: 0.9em;
}
.Navigation__lang__label:not(:first-of-type), .Navigation__currency__label:not(:first-of-type) {
  margin-left: 1rem;
}
.Navigation__lang__label:hover, .Navigation__currency__label:hover {
  color: #333;
}
.Navigation__checkbox:checked ~ .Navigation__button {
  position: fixed;
}
.Navigation__checkbox:checked ~ .Navigation__nav {
  transform: translateX(0);
  transition: transform 0s 0s;
}
.Navigation__checkbox:checked ~ .Navigation__background {
  opacity: 1;
  transform: scale(120);
  transition: opacity 0.1s, transform 0.5s cubic-bezier(1, 0, 1, 0) 0.2s;
}
.Navigation__checkbox:checked ~ .Navigation__nav > .Navigation__menu, .Navigation__checkbox:checked ~ .Navigation__nav > .Navigation__terms {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s cubic-bezier(0, 1, 0, 1) 0.7s;
}
.Navigation__checkbox:checked ~ .Navigation__nav > .Navigation__menu::after {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(1, 0, 1, 0) 1s;
}
.Navigation__checkbox:checked ~ .Navigation__nav > .Navigation__socials, .Navigation__checkbox:checked ~ .Navigation__nav > .Navigation__internationalization {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s cubic-bezier(0, 1, 0, 1) 0.5s;
}
.Navigation__icon {
  position: relative;
  transition: all 0.1s;
}
.Navigation__icon, .Navigation__icon:before, .Navigation__icon:after {
  width: inherit;
  height: 2px;
  background-color: var(--color-black);
  display: inline-block;
}
.Navigation__icon:before, .Navigation__icon:after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.1s;
}
.Navigation__icon:before {
  top: -7px;
}
.Navigation__icon:after {
  top: 7px;
}
.Navigation__button:hover .Navigation__icon:before {
  top: -8px;
}
.Navigation__button:hover .Navigation__icon:after {
  top: 8px;
}
.Navigation__checkbox:checked + .Navigation__button .Navigation__icon {
  background-color: transparent;
}
.Navigation__checkbox:checked + .Navigation__button .Navigation__icon:before {
  top: 0;
  transform: rotate(45deg);
}
.Navigation__checkbox:checked + .Navigation__button .Navigation__icon:after {
  top: 0;
  transform: rotate(-45deg);
}

.CartDrawer {
  --component-font-size: 1.2rem;
  font-size: var(--component-font-size);
  background-color: var(--color-light-1);
  width: 30rem;
  height: calc(100% - 4.1rem);
  position: fixed;
  right: 0;
  top: 4.1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CartDrawer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--color-light-5);
}
.CartDrawer__title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}
.CartDrawer__remove {
  border-radius: 50%;
}
.CartDrawer__remove:hover {
  background-color: var(--color-light-8);
}
.CartDrawer .CartSet {
  padding: 2rem;
  width: 100%;
  background: transparent;
}
.CartDrawer .CartSet__footer {
  margin-top: 4rem;
}
.CartDrawer .CartSet__price {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 4px;
  font-size: 1.2em;
  font-weight: 400;
}
.CartDrawer .CartSet__price__value {
  margin-left: auto;
  font-weight: 500;
  letter-spacing: 2px;
}
.CartDrawer .CartSet__price__value::first-letter {
  font-size: 1.2em;
  margin-right: 5px;
}
.CartDrawer .CartSet__buttons {
  font-size: 0.7em;
  margin-top: 5rem;
  display: flex;
}
.CartDrawer .CartSet__buttons > * {
  width: 50%;
}
.CartDrawer .CartSet__buttons > *:not(:first-child) {
  margin-left: 1rem;
}
.CartDrawer .CartCard-wrapper > *:not(:first-child) {
  margin-top: 2rem;
}

.CartDrawer--active {
  transform: translateX(0);
}

.CheckoutForm {
  --component-font-size: 1.2rem;
  font-size: var(--component-font-size);
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 769px;
  padding: 1rem;
}
.CheckoutForm__title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0 2rem;
}
.CheckoutForm__billing-address > *:not(:first-child) {
  margin: 1rem auto;
}
.CheckoutForm__name > *:not(:first-child) {
  margin: 1rem auto;
}
@media screen and (min-width: 426px) {
  .CheckoutForm__name {
    display: flex;
  }
  .CheckoutForm__name > *:not(:first-child) {
    margin: 0 0 0 1rem;
  }
}
.CheckoutForm__note {
  margin-top: 4rem;
}
.CheckoutForm__note .CheckoutForm__input {
  height: 8rem;
  resize: vertical;
  line-height: 1.5;
}
.CheckoutForm__submit {
  margin-top: 2rem;
}
.CheckoutForm__input, .CheckoutForm__select {
  font-size: 0.8em;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  outline: none;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-light-9);
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.CheckoutForm__input::-moz-placeholder, .CheckoutForm__select::-moz-placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.CheckoutForm__input::placeholder, .CheckoutForm__select::placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.CheckoutForm__input:focus, .CheckoutForm__select:focus {
  border: 1px solid var(--color-text-primary);
  color: var(--color-text-primary);
  text-transform: initial;
  letter-spacing: 1px;
}
.CheckoutForm__select {
  background-color: var(--color-white);
}

.Footer {
  --component-font-size: 12px;
  font-size: var(--component-font-size);
  background-color: var(--color-light-4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
}
@media screen and (min-width: 769px) {
  .Footer {
    align-items: initial;
    justify-content: center;
  }
}
.Footer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem;
}
@media screen and (min-width: 769px) {
  .Footer__header {
    width: 100%;
    order: 1;
  }
}
.Footer__header__logo {
  margin-bottom: 1rem;
}
.Footer__header__title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
}
.Footer__socials {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 2rem;
}
@media screen and (min-width: 769px) {
  .Footer__socials {
    width: 25%;
    max-width: 20rem;
    order: 3;
    margin-top: 1rem;
  }
}
.Footer__socials__title {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.95em;
  text-transform: capitalize;
}
.Footer__quicklinks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
@media screen and (min-width: 769px) {
  .Footer__quicklinks {
    width: 75%;
    max-width: 50rem;
    order: 2;
  }
}
.Footer__quicklinks > .Link-group {
  margin: 1rem 0;
}
.Footer__copyright {
  padding: 1rem 0;
  background-color: var(--color-light-8);
  color: var(--color-text-secondary);
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  letter-spacing: 0.25px;
}
@media screen and (min-width: 769px) {
  .Footer__copyright {
    order: 4;
  }
}

.Link-group {
  min-width: 9rem;
}
.Link-group__title {
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.Link-group__list {
  list-style-type: none;
}
.Link-group__item {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.Link-group__link {
  text-decoration: none;
  color: var(--color-text-secondary);
  transition: color 0.3s;
}
.Link-group__link:hover {
  color: var(--color-text-tertiary);
}/*# sourceMappingURL=billing.css.map */